$primary-bg-color: #ffffff;
$primary-text-color: #000000;
$secondary-background-color: #122438;
$accent-color: #ff6b09;
$header-primary-text-color: #5e6671;
$footer-primary-text-color: #8e9198;
$categories-list-description-text-color: #a8a8a8;
$categories-list-old-price-text-color: #bbbbbb;
