<div class="confirm-modal">
    <p class="confirm-modal__question">Вы точно хотите выйти из аккаунта?</p>
    <div class="confirm-modal__btns">
        <button class="confirm-modal__btn_go">ВЫЙТИ</button>
        <button class="confirm-modal__btn_cancl">ОТМЕНА</button>
    </div>
</div>
