<div class="confirm-modal is-hidden">
    <p class="confirm-modal__question">Вы точно хотите выйти из аккаунта?</p>
    <div class="confirm-modal__btns">
        <button class="confirm-modal__btn_go" type="button">ВЫЙТИ</button>
        <button class="confirm-modal__btn_cancl" type="button">ОТМЕНА</button>
    </div>
</div>
