{{!-- <div class="file-loader">

    <input type="file" id="file_loader" class="file-loader-input" name='file'>
    <label for="file_loader" id="file_loader" class="file-loader-label">
        <span class="file-loader-show-availabel">+</span>
    </label>

</div> --}}