<button type="button" class="user_btnmenu" id="{{menuAuth}}User_btn" data-btn="user">Кабинет</button>
<span class="sign-in-up__stickmenu"></span>
<button type="button" class="logOutBtnmenu" id="{{menuAuth}}LogOutBtn" data-btn="logout"></button>