<button type="button" class="signInBtnmenu" id="{{menuAuth}}SignInBtnId" data-btn="signin">Войти</button>
<span class="sign-in-up__stickmenu"></span>
<button type="button" class="signUpBtnmenu" id="{{menuAuth}}SignUpBtnId" data-btn="signup">Регистрация</button>