<div class="productInfo__wrapper">
  <div class="productInfo__images">
    <div class="productInfo__imgMax-wrapper">
      <img class="productInfo__imgMax" src="./images/img/goods img/1.jpg" alt="" />
    </div>

    <ul class="list productInfo__list-imgMin">
      {{!-- {{#each this}} --}}
      <li class="productInfo__item-imgMin">
        <img class="productInfo__imgMin" src="./images/img/goods img/1.jpg" alt="" />
      </li>
      <li class="productInfo__item-imgMin">
        <img class="productInfo__imgMin" src="./images/img/goods img/1.jpg" alt="" />
      </li>
      {{!-- {{/each}} --}}
    </ul>
  </div>


  <div class="productInfo__info">
    <h2 class="productInfo__title">Victrola Vintage</h2>
    <p class="productInfo__code">Код товару | 105-С</p>

    <div class="siema productInfo__imgSlider">
      <div>
        <img src="./images/img/goods img/1.jpg" alt="" />
      </div>
      <div>
        <img src="./images/img/goods img/2.jpg" alt="" />
      </div>
    </div>
    {{!-- <div class="dots"> --}}
      {{!-- <button class="dots__item  dots__item--active"></button>
      <button class="dots__item"></button>
      <button class="dots__item"></button> --}}
      {{!--
    </div> --}}


    <p class="productInfo__price">1,200 00 <span>&#8364;</span></p>
    <button class="productInfo__button" type="button">
      Информация о <br>продавце
    </button>
    <ul class=" list productInfo__action-list">
      <li class="productInfo__action-item ">В избранное
        {{!-- <svg class="favorites__icon" width="14" height="12">
          <use href="./images/svg/symbol-defs.svg#favorite"></use>
        </svg> --}}
      </li>
      <li class="productInfo__action-item  productInfo__action-item--share">Поделиться</li>
    </ul>
    <p class="productInfo__desctiption">Описание:</p>
    <p class="productInfo__desctiption-text">
      Давно выяснено, что при оценке дизайна и композиции читаемый текст
      мешает сосредоточиться. Lorem Ipsum используют потому, что тот
      обеспечивает более или менее стандартное заполнение шаблона.
    </p>

  </div>
</div>