<div class="mobil-menu">
  <div class="modal-auth">Registr header-auth</div>
  <div class="">
      <button class="button header-filter-tablet is-visible" id="categorisFilter">
          {{!-- <svg width="24" height="24" class="clear-filter-tablet-svg">
            <use href="./images/svg/icons/sprite.svg#tune"></use>
          </svg> --}}
          Фильтры
        </button>
      <button class="button header-clear-filter-btn is-visible" id = 'clearFilter'>
          {{!-- <svg width="24" height="24" class="clear-filter-svg">
            <use href="./images/svg/icons/sprite.svg#replay"></use>
          </svg> --}}
          Очистить
        </button>
  </div>
  <div>
    <ul id="categoriesList">
    </ul>
  </div>
</div>