<div class="mobil-menu">
  <div class="modal-auth">Registr header-auth</div>
  <div class="modal-filter-search-menu">
      <button class="button header-filter-tablet">
          Filter button header-filter-tablet
      </button>
      <button class="button header-clear-filter-btn">
          Search button header-clear-filter-btn
      </button>
  </div>
</div>