<div class="form">
    <h2 class="form__title">Войдите в приложение используя e-mail и пароль:</h2>
    <form name="signUpForm" class="form__body">
        <input type="email" class="form__email" name="email" placeholder="E-mail" required minlength="6" />
        <input type="password" class="form__password" name="password" placeholder="Password" required minlength="6" />
        <span class="form__errorUp"></span>
        <button type="submit" class="form__signupbtn">Регистрация</button>
    </form>
</div>