<div class="form-container">
    <h2 class="form__title">Вход</h2>
    <form name="signInForm" class="form__body">
        <input type="email" class="form__email" name="email" placeholder="E-mail" required minlength="6" />
        <input type="password" class="form__password" name="password" placeholder="Пароль" required minlength="6" />
        <span class="form__errorIn"></span>
        <button type="submit" class="form__signinbtn">Войти</button>
    </form>
    <p class="form__text">или</p>
    <button type="button" class="form__signInFormSignUpBtn">Зарегистрироваться</button>
</div>