<div class="form-container">
    <h2>Вход</h2>
    <form name="signInForm">
        <input type="text" name="email" placeholder="E-mail" />
        <input type="text" name="password" placeholder="Пароль" />
        <span class="errorIn"></span>
        <button type="submit">Войти</button>
    </form>
    <p>или</p>
    <button type="button" class="signInFormSignUpBtn">Зарегистрироваться</button>
</div>