<div class="form-container">
    <h2>Регистрация</h2>
    <form name="signUpForm">
        <input type="text" name="email" placeholder="E-mail" />
        <input type="text" name="password" placeholder="Пароль" />
        <span class="errorUp"></span>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>