
<div class="student-modal">
    <button type="button" class="student-modal__close-btn modal-close"></button>
    <h2 class="student-modal__form-title">Наша команда</h2>
    <ul class="student-modal__list">
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
            
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        <li class="student-modal__item">
            <img class="student-modal__pic" src="https://i.ibb.co/515xmBT/6.png" alt="1" width="60" height="60">
            <p class="student-modal__name">Name Surname</p>
            <p class="student-modal__info">Leader</p>
        </li>
        
    </ul>
</div>