
<div class="student">
    {{!-- <button type="button" class="student-modal__close-btn modal-close"></button> --}}
    <h2 class="student__form-title">Наша команда</h2>
    <ul class="student__list">
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/JnS6yJR/viktor.jpg" alt="1" width="60" height="60">
            <p class="student__name">Viktor Gorokhov</p>
            <p class="student__info">Team Leader</p>
            
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/cX88vgF/nadia.png" alt="1" width="60" height="60">
            <p class="student__name">Nadezhda Chornaya</p>
            <p class="student__info">Scrum Muster</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/9nkYpnF/chernovsky.jpg"  alt="1" width="60" height="60">
            <p class="student__name">Dmytro Chernovskyi</p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/KjhnXBz/ruslana.jpg" alt="1" width="60" height="60">
            <p class="student__name">Ruslana Kravchenko</p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/M9g79KB/ulan.jpg" alt="1" width="60" height="60">
            <p class="student__name">Ulan Temirbekov</p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/rMCQsZH/lukian.jpg" alt="1" width="60" height="60">
            <p class="student__name">Dmytro Lukianenko</p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/Ybfg1hM/vera-korzun.jpg"  alt="1" width="60" height="60">
            <p class="student__name">Vera Korzun </p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/VQ9n8wj/vitality.jpg"  alt="1" width="60" height="60">
            <p class="student__name">Vitalii Kovalchuk </p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/qRc1L3z/olejjja.png" alt="1" width="60" height="60">
            <p class="student__name">Oleg Dramaretskyi </p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/jGPRsj1/IMG-20201222-143127.jpg" alt="1" width="60" height="60">
            <p class="student__name">Svetlana Veklych</p>
            <p class="student__info">*Description*</p>
        </li>
        <li class="student__item">
            <img class="student__pic" src="https://i.ibb.co/rZ1YcQH/13422949-145427315866250-1759690002-n.jpg" alt="1" width="60" height="60">
            <p class="student__name">Volodymyr Rabeshko</p>
            <p class="student__info">*Description*</p>
        </li>
      
    </ul>
</div>