.student {
 
  
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 280px; */
  /* background: rgb(255, 255, 255); */
  /* box-shadow: 0px 8px 24px 0px red; */
  /* padding: 10px 0; */
  /* z-index: 0; */
  
}

.student__form-title {
  font-family: 'MontserratBold';
  font-size: 18px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: start;
  margin-bottom: 10px;
  margin-left: 18px;
  text-align: center;
}
.student__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 270px;
  margin: 0 auto;
  padding-left: 0px;
}
.student__item {
  width: 135px;
  text-align: center;
  font-size: 11px;
  list-style-type: none;
}
.student__item:first-child {
  width: 270px;
}

.student__item:not(:last-child) {
  margin-bottom: 10px;
}
.student__pic {
  border: 2px solid #ff6b08;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  object-fit: cover;
}
.student__name {
  font-family: 'MontserratLight', sans-serif;
}
.footer__our-students {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ff6b08;
  cursor: pointer;
}

.footer__our-students:hover,
.footer__our-students:focus {
  color: #fff;
}
@media (min-width: 768px) {
  .student {
    width: 600px;
    /* box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.25); */
    /* padding: 48px 0; */
  }

  .student__form-title {
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 54px;
  }

  .student__list {
    width: 570px;
  }

  .student__item {
    width: 190px;
    text-align: center;
    font-size: 14px;
  }

  .student__item:first-child {
    width: 190px;
  }

  .student__item:not(:last-child) {
    margin-bottom: 0;
  }

  .student__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 20px;
  }
  .student__pic {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1280px) {
  .student {
    width: 876px;
   

  }

  .student__list {
    width: 900px;
  } 

  .student__item {
    width: 300px;
    text-align: center;
    font-size: 16px;
  }

  .student__item:first-child {
    width: 300px;
  }

  .student__item:not(:last-child) {
    margin-bottom: 0;
  }

  .student__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  .student__pic {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
  }

  .student__name {
    margin-bottom: 5px;
  }
}