<div class="header--top">
    <div class="header--logo">
        <button type="button" class="navigation__button" aria-expanded="true" aria-controls="menu-container"
            data-menu-button>
            <svg width="20" height="20" aria-label="Мобильное меню" class="navigation-button-svg">
                <use class="navigation__button-close" href="./images/svg/icons/sprite.svg#close"></use>
                <use class="navigation__button-menu" href="./images/svg/icons/sprite.svg#menu"></use>
            </svg>
        </button>
        <a href="#" class="link">
            <div class="header--logo__ellipse">
                <span class="header--logo-name">LOGO</span>
            </div>
        </a>
        <input class="header--logo__input" type="text" name="inputSearch" id="inputSearch" placeholder="" />
        <!-- ////<svg width="24" height="24" class="header--logo__input-svg">
              <use href="./images/svg/icons/sprite.svg#search"></use>
            </svg>//// -->
        <button type="button" class="search__button" aria-expanded="true" aria-controls="menu-container"
            data-menu-button>
            <svg width="24" height="24" aria-label="Мобильное меню" class="search-button-svg">
                <use class="" href="./images/svg/icons/sprite.svg#search"></use>
            </svg>
        </button>
    </div>
    <div class="header--auth">
        <button class="button header--auth__btn">Регистрация</button>
        <span class="element">|</span>
        <button class="button header--auth__btn__accent">Вход</button>
    </div>
    <button class="button header--btn--adv">Создать объявление</button>
</div>
<div class="header--filter">
    <input class="header--logo__input--tablet" type="text" name="inputSearch" id="inputSearch" placeholder="" />
    <!-- ////<svg width="24" height="24" class="header--logo__input-svg">
              <use href="./images/svg/icons/sprite.svg#search"></use>
            </svg>//// -->

    <button class="button header--filter--tablet">
        <svg width="24" height="24" class="clear--filter--tablet-svg">
            <use href="./images/svg/icons/sprite.svg#tune"></use>
        </svg>
        Фильтры
    </button>

    <ul class="header--filter--list">
        {{#each categories}}
        <li class="list header--filter--list__item">
            <button class="button filter--list__item__btn">{{this}}</button>
        </li>
        {{/each}}
    </ul>

    <button class="button header--clear--filter--btn">
        <svg width="24" height="24" class="clear--filter-svg">
            <use href="./images/svg/icons/sprite.svg#replay"></use>
        </svg>
        Очистить
    </button>
</div>
</div>