.favorites-myGoods {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 20px;
  }
}

.favorites-myGoods__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.favorites-myGoods__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.favorites-myGoods__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(8, 45, 126, 0.24),
      0 10px 30px 0 rgba(163, 17, 17, 0.19);
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
    flex-basis: calc((100% - 22px) / 2);

    margin-bottom: 22px;

    &:not(:nth-child(2n)) {
      margin-right: 22px;
    }
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 20px) / 4);
    margin-bottom: 20px;

    &:not(:nth-child(4n + 4)) {
      margin-right: 20px;
    }
  }
}

.favorites-myGoods__item-img-wrapper {
  height: 235px;
  margin-bottom: 5px;

  @media screen and (min-width: 768px) {
    height: 239px;
  }
}

.favorites-myGoods__item-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.favorites-myGoods__item-title {
  margin-bottom: 7px;
  padding: 0 20px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.favorites-myGoods__item-price {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;

  color: $accent-color;
}

.myGoods-btn {
  display: none;
  margin: 5px auto;
  padding: 0;
  width: 280px;
  height: 60px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;

  color: #ffffff;
  background-color: $accent-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.03);
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(8, 45, 126, 0.24),
      0 10px 30px 0 rgba(163, 17, 17, 0.19);
  }

  @media screen and (min-width: 768px) {
    width: 300px;
  }

  @media screen and (min-width: 1280px) {
    width: 255px;
  }

  &--active {
    display: block;
  }
}

.favorites-myGoods-massage {
  padding-top: 40px;

  height: calc(100vh - 176px);

  @media screen and (min-width: 768px) {
    height: calc(100vh - 305px);
  }

  @media screen and (min-width: 1280px) {
    height: calc(100vh - 304px);
  }
}

.favorites-myGoods__message-text {
  text-align: center;
  color: #878686;
  padding-top: 100px;
}
