.header-category-tablet.openCategory {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        display: block;
    }
}

.header-category-tablet {
    background-color: $secondary-background-color;
    width: 100%;
    height: 144px;
    border: none;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    padding-top: 30px;
    padding-right: 88px;
    padding-bottom: 32px;
    padding-left: 40px;
}

.header-category-tablet-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}
