.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 1;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    .modal {
        background-color: $primary-bg-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 15px 15px 55px rgba(0, 0, 0, 0.3);
        padding: 54px 20px 48px;
        
        @media screen and (min-width: 768px) {
            padding: 58px 60px 64px;
        }

        @media screen and (min-width: 1280px) {
            padding: 60px 90px 70px;
        }
    }

    .modal-close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 15px;
        right: 20px;

        @media screen and (min-width: 768px) {
            top: 17px;
            right: 18px;
        }
        
        @media screen and (min-width: 1280px) {
            top: 18px;
            right: 33px;
        }

        &:hover,
        &:focus {
            fill: $accent-color;
        }
    }
}