.in-visible {
  visibility: hidden;
}

.form-text {
  display: block;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 20px;

  color: $primary-text-color;
}

.product-name {
  display: block;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  color: $primary-text-color;
}

.category {
  font-size: 0;
  color: transparent;
}

.price-label,
.tel-label {
  margin-bottom: 13px;
}

.form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 23px;
  border: 1px solid $categories-list-old-price-text-color;
  background-color: $primary-bg-color;
  resize: none;
  &:invalid:not(:placeholder-shown) {
    border-color: red;
  }
  &:valid:not(:placeholder-shown) {
    border-color: green;
  }
}

.name-product-form {
  margin-bottom: 30px;
}

.tel-input-form {
  margin-bottom: 20px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.textarea {
  padding-top: 15px;
}

.push-button {
  width: 100%;
  height: 50px;
  background-color: $primary-bg-color;
  border: 2px solid $categories-list-old-price-text-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
    cursor: pointer;
  }
}

.button-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $secondary-background-color;
  &:hover,
  &:focus {
    color: $primary-bg-color;
  }
}

// photo
.gallery-box {
  display: flex;
  flex-wrap: wrap;
}

.grey-wrapper {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  // width: 100%;
}
// ====================
.input-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input-file-list {
  display: flex;
  flex-wrap: wrap;
}

.nput-file-item {
  margin-right: 5px;
}

.file-loader {
  position: relative;
  width: 76px;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
}
.file-loader-input {
  display: none;
  // visibility: hidden;
}
.file-loader-label {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5f6fb;
  border: 1px solid orange;
}

.file-loader-show-availabel {
  position: absolute;
  width: 100%;
  height: 45.94px;
  // left: 30px;

  font-family: Montserrat;

  font-weight: 500;
  font-size: 22px;
  line-height: 46px;
  // display: flex;
  // align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: $categories-list-old-price-text-color;
}

.img-adv-box {
  width: 77px;
  height: 46px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}
.button-box {
  display: flex;
  flex-direction: column;
}

.clean-button {
  margin-bottom: 30px;
  padding: 5px;
  width: 185px;
  border-color: transparent;
  background-color: $primary-bg-color;

  &:hover,
  &:focus {
    border-color: $accent-color;
    border-radius: 5px;
  }
}

.delete-adv-icon {
  width: 14px;
  height: 14px;
}

.delete-button-text {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.07em;

  color: $primary-text-color;
}

@media screen and (min-width: 480px) {
  .form {
    width: 290px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 724px;
  }
  .form-text {
    margin-bottom: 30px;
  }

  .file-loader-label,
  .img-adv-box {
    width: 81px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .file-loader-show-availabel {
    height: 47px;
    // left: 35px;
  }

  .img-adv-box:nth-child(3n + 3) {
    margin-right: 10px;
  }
  .push-button {
    width: 266px;
    height: 60px;
    margin-left: 265px;
  }
  .clean-button {
    margin-left: 255px;
  }
  .flex-input-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .form-input {
    width: 458px;
  }
  .button-text {
    font-size: 14px;
  }
  .file-loader {
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0px;
    }
  }
  // ====================
  .input-wrapper {
    flex-wrap: nowrap;
  }
  .grey-wrapper {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 950px;
  }
  .form-input {
    width: 610px;
  }

  .file-loader-label,
  .img-adv-box {
    width: 78px;
  }
  .push-button {
    width: 286px;
    height: 60px;
    margin-left: 338px;
  }
  .clean-button {
    margin-left: 333px;
  }
  // ====================
  .input-wrapper {
    margin-left: 303px;
  }
}
