.form-text {
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  color: $primary-text-color;
}

.product-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  color: $primary-text-color;
}

.category {
  font-size: 0;
  color: transparent;
}

.price-label,
.tel-label {
  margin-bottom: 13px;
}

.form-input {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;
  background-color: $primary-bg-color;
  resize: none;
}

.name-product-form {
  margin-bottom: 30px;
}

.tel-input-form {
  margin-bottom: 40px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.input-photo {
  width: 77.19px;

  height: 45.94px;

  background-color: #f5f6fb;
}

.push-button {
  width: 251px;
  height: 50px;
  background-color: $accent-color;
  border-color: transparent;
}

.button-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $primary-bg-color;
}

// photo

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-file-list {
  display: flex;
  flex-wrap: wrap;
}

.nput-file-item {
  margin-right: 5px;
}

.file-loader {
  position: relative;
  width: 76px;
  height: 46px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
}
.file-loader-input {
  display: none;
}
.file-loader-label {
  display: block;
  width: 76px;
  height: 46px;
  background-color: #f5f6fb;
}

.file-loader-show-availabel {
  position: absolute;
  width: 77.19px;
  height: 45.94px;
  left: 30px;

  font-family: Montserrat;

  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #bbbbbb;
}

.img-adv-box {
  width: 77px;
  height: 46px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img-adv-box:nth-child(3n + 3) {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .form {
    width: 290px;
    height: 845px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 724px;
    height: 698px;
  }

  .img-adv-box {
    width: 83px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .img-adv-box:nth-child(3n + 3) {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 950px;
    height: 698px;
  }

  .img-adv-box {
    width: 78px;
  }
}
