.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.advert-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-advert {
  position: absolute;
  width: 290px;
  height: 845px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  background-color: $primary-bg-color;
  padding-top: 54px;
  padding-right: 19px;
  padding-bottom: 40px;
  padding-left: 20px;
}
.modal-button-icone {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 20px;
}

.form-text {
  display: block;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  color: $primary-text-color;
}

.product-name {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  margin-bottom: 10px;

  color: $primary-text-color;
}

.category {
  font-size: 0;
  color: transparent;
}

.price-label,
.tel-label {
  margin-bottom: 13px;
}

.form-input {
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;
  background-color: $primary-bg-color;
}

.name-product-form {
  margin-bottom: 30px;
}

.tel-input-form {
  margin-bottom: 40px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.input-photo {
  width: 77.19px;

  height: 45.94px;

  background-color: #f5f6fb;
}

.push-button {
  width: 251px;
  height: 50px;
  background-color: $accent-color;
  border-color: transparent;
}

.button-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $primary-bg-color;
}

// photo

.input-wrapper {
  width: 100%;
  position: relative;
}
.form-input-file {
  // opacity: 0;

  // position: absolute;
  // top: 50%;
  // left: -50%;
}
.input-file-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 20px;
  list-style: none;
}

.nput-file-item {
  margin-right: 5px;
}

// .input-file-item:not(:nth-child((3 * n) + 3)) {
//   margin-right: 5px;
// }

// .input-file {
//   display: block;
//   width: 76px;
//   height: 46px;
//   margin-right: 10px;
//   margin-bottom: 10px;
//   background: #f5f6fb;
// }

@media screen and (min-width: 480px) {
  .modal-advert {
    width: 290px;
    height: 845px;
  }
}

@media screen and (min-width: 768px) {
  .modal-advert {
    width: 724px;
    height: 698px;
    padding-right: 55px;
    padding-bottom: 60px;
    padding-left: 53px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-advert {
    width: 950px;
    height: 698px;
    padding-right: 58px;
    padding-left: 57px;
  }
}
