.productInfo__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.productInfo__images {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 38px;
  }
}

.productInfo__imgMax-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    width: 281px;
    height: 333px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    width: 428px;
    height: 465px;
  }
}

.productInfo__imgMax {
  object-fit: contain;
}

.productInfo__list-imgMin {
  display: flex;
}

.productInfo__item-imgMin {
  width: 52px;
  height: 56px;
  object-fit: cover;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    border: 2px solid $accent-color;
  }

  @media screen and (min-width: 1280px) {
    width: 77.5px;
    height: 73px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.productInfo__imgSlider {
  margin-bottom: 15px;
  width: 253px;
  height: 253px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.dots__item {
  margin: 0 0.5rem;
  padding: 0;
  width: 7px;
  height: 7px;
  outline: none;
  border: none;

  // background-color: #c4c4c4;
  background-color: #792929;
  border-radius: 50%;

  &--active {
    background-color: $accent-color;
  }
}

.productInfo__title {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.productInfo__code {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #878686;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.productInfo__price {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.productInfo__button {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
  height: 60px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: none;

  color: #ffffff;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    width: 300px;
  }

  @media screen and (min-width: 1280px) {
    width: 255px;
  }
}

.productInfo__action-list {
  display: flex;

  margin-bottom: 30px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #878686;
}

.productInfo__action-item:first-child {
  margin-right: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
  }
}

.productInfo__desctiption {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #878686;
}

.productInfo__desctiption-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1280px) {
    width: 340px;
  }
}
