#sandwichmenu {
    margin: 5px 0 0 0;  
    text-align: center;
}

.tpl_hamburger {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.tpl_hamburger.activ svg {
    @media screen and (max-width: 767px) {
        fill: #445361;
        height: 20px;
        width: 20px;
        margin-top: 8px;
        margin-left: 25px;
        cursor: pointer;   
    } 
    @media screen and (min-width: 768px) {
        opacity: 0;
    }
}

svg:not(:root) {
    overflow: hidden;
}

.js_menu {

    @media screen and (max-width: 767px) {
        position: absolute;
        left: -93.75vw;
        top: 0;
        //display: flex;
        width: 93.75vw;
        height: 568px;
        background-color: #031c33;
        transition: .5s;  
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.js_menu.activ svg {
    opacity: 1;
    z-index: 100;
    fill: #445361;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 24px;
    right: 20px;
    transform: translate(-24px,24px);
    cursor: pointer;  
    transform: translate3d(0px, 0px, 0px);  
}

.js_menu.activ {
    display: block;
    box-shadow: 15px 0 25px 0 rgba(29,29,27,0.8);
    transform: translateX(93.75vw);
    transition: 0.5s;
    z-index: 25;
}

.mobil-menu {
    color:sandybrown;
}

.filter__list-item:not(:last-of-type) {
    margin-right: 10px;
    margin-bottom: 20px;
  }

.filter__list-item_btn {
    padding: 8px 21px;
    font-size: 12px;
    line-height: 1.25;
    color: $header-primary-text-color;
    border-radius: 20px;
    border: 1px solid $header-primary-text-color;
    background-color: transparent;
    transition: 0.5s;
    outline: none;
} 

.filter__list-item_btn:hover,
.filter__list-item_btn:focus {
      color: $accent-color;
      border-color: $accent-color;
      outline: none;
      cursor: pointer;
}

.modal-auth.is-visible {
    display: flex;
    justify-content: center;
    margin-top: 73px;
}
.mobil-filter-clear {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 30px;

}

.header-filter-tablet.is-visible {
    display: flex;
    margin-right: 50px;
    margin-left: 51px;
}

.header-filter-tablet.is-visible,
.header-clear-filter-btn.is-visible {
    @media screen and (max-width: 767px) {
      display: flex;
      background-color: transparent;
      outline: none;
      border: none;
      
      font-weight: 400;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.03em;
  
      color: #5E6671;
    }
  }

  .mobil-filter-list {
      display: flex;
      flex-direction: row;
      margin-left: 14px;
  }

  .filter__list {
      display: flex;
      flex-wrap: wrap;
  }

  