.search-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.search__goods {
  display: block;
  margin: 0 auto 20px;
  height: 305px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

  touch-action: pan-y;
  width: 280px;
  height: 305px;
  padding: 20px 0;
  cursor: pointer;
  // filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.search___img {
  object-fit: cover;
  width: 240px;
  height: 240px;
  margin: 0 auto 5px;
}

.search__title {
  display: block;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;

  color: #000;
  text-transform: uppercase;
  max-width: 240px;
  max-height: 14px;
  margin: 0 auto;
  overflow: hidden;
}

.search__price {
  display: block;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;

  color: #e96105;
}
